---
import { ViewTransitions } from "astro:transitions";
import { Header } from "../components/header";
import { Background } from "../components/background";
import CrystallizeLogo from "../assets/crystallize-logo.svg?url";
import { fetchMeta } from "../use-cases/queries/meta.ts";

const data = await fetchMeta("/frontpage");
const logo = data.meta.meta.content.chunks[0].find(
  (index: { id: string }) => index.id === "logo"
).content.firstImage.variants[0].url;

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
const { pathname } = Astro.url;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
    <script
      src="https://embeddables.p.mbirdcdn.net/sdk/v0/bird-sdk.js"
      data-config-url="https://api.bird.com/workspaces/45e7c14d-e008-494b-90b7-56cb1ee77ea8/applications/ce3b16c9-9a87-4245-ae4a-0b7ef1298e07/signature/2024-06-17T17-12-51_750d9bfd28"
    ></script>
    <script
      defer
      type="module"
      src="https://embeddables.p.mbirdcdn.net/v1/web-components.es.js"></script>
  </head>
  <body class="relative text-text bg-primary">
    <Header client:only logo={logo} />
    <slot />
    <footer class="container mt-40 mx-auto pb-10">
      <div class="flex mt-10 w-full text-center justify-end">
        <div class="flex items-center gap-1 mt-10">
          <img src={CrystallizeLogo} alt="Crystallize" class="w-5" />
          Powered by <a href="https://crystallize.com" class="underline">
            Crystallize</a
          > + <a href="https://astro.build" class="underline">Astro</a>
        </div>
      </div>
    </footer>
    <style is:global>
      @media screen and (max-width: 768px) {
        .crystallize-grid {
          display: flex !important;
          flex-direction: column !important;
        }
        .bg-fixed {
          display: none;
        }
      }
      .bg-fixed {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>
  </body>
</html>
